@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}


 /* Navbar */
  
 .navbar {
  background-color: #333;
  padding: 20px;
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  min-height: 70px;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover{
  color: #f4511e;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #ff7f50;
}

/* carousel styles */
.carousel-section {
  padding: 20px 0;
}

.carousel-section .container {
  width: 90%;
  max-width: 100%;
  justify-content: center;
}

.carousel-section .row {
  justify-content: center;
}

.carousel-section .col-lg-10 {
  max-width: 80%;
}

.carousel-section .carousel-inner {
  width: 90%;
}


/* Card-section */

.card-section {
  padding: 20px 0;
}

.card-section .container {
  width: 90%;
  max-width: 100%;
  justify-content: center;
}

.card-section .card {
  height: 40vh;
  display: flex;
}

.card-section .card-carousel {
  width: 40%;
  height: 90%;
  /* Add any additional styling for the carousel */
}

.card-section .card-body {
  width: 60%;
  /* Add any additional styling for the card body */
}

/* card-carousel */
  
.card{
  display: flex;
}

.card-carousel {
  height: 100%;
}

.card-carousel .carousel-inner {
  height: 100%;
}

.card-carousel .carousel-item {
  height: 100%;
}

.card-body {
  flex: 1;
  padding: 20px;
}

img {
  object-fit: cover;
  min-width: 30px;
  overflow: hidden;
}



/* Team-css */
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* Contact */

.bg-image {
  background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

